.mypy_cache
.ropeproject
media
static
__pycache__
gcp.yml
db.sqlite3*
*tar.gz
ayespy-config.json
cloudbuild.yaml
conftest.py
docker-compose.yml
*pyc
*swp
*swo
node_modules
perf.data
regression_tests
logs
